.progress-bar-container {
  position: relative;
  background-color: var(--breadcrumbs-background);
  display: flex;
  flex-direction: row;
  height: 12vh;

  & .bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & .bar {
      width: 31vw;
      height: 10px;
      background-color: var(--placeholder-gradient-color);
      border-radius: 30px;
    }

    & .bar-active {
      @extend .bar;
      background-color: var(--button-background);
      transition: background-color 1s linear;
    }
    & .bar-title-number-container {
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 120px;

      & .bar-number {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: var(--placeholder-gradient-color);
        color: #949494;
        border-radius: 50%;
        margin-bottom: 5px;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 16px;
      }

      // Active

      & .bar-number-active {
        @extend .bar-number;
        background-color: var(--button-background);
        color: var(--button-color);
      }

      & .bar-title {
        // position: absolute;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}
